* {
    margin: 0;
    padding: 0;
}

@media (max-width: 991px) {
    .menu-left {
        display: none;
    }
}

a.nav-link:hover {
    color: #BA9237;
}

.dorado:hover {
    color: #BA9237;
}

.nav-link {
    margin-right: 40px;
}

.dorado {
    margin-left: 30px;
}

.container {
    margin: 0;
}