* {
    margin: 0;
    padding: 0;
}

@media (max-width: 1295px) {
    .menu-left {
        display: none;
    }
}

@media (max-width: 1296px) {
    .hide {
        display: inline-block;
    }
}

@media (min-width: 1296px) {
    .hide {
        display: none;
    }
}

@media (max-width: 1197px) {
    .mx-auto {
        position: fixed;
        top: 0;
    }
}

@media (max-width: 570px) {
    .menuD {
        margin-right: 0px;
    }
}

.dorado {
    margin-left: 30px;
    font-size: 16px;
}

a.nav-link:hover {
    color: #BA9237;
}

a.nav-link {
    color: black;
}

.dorado:hover {
    color: #BA9237;
    text-decoration: none;
}

a.dorado {
    color: black;
}

.menuD {
    margin-right: 40px;
    font-size: 15px;
    margin-bottom: 20px;
}

.menu-left {
    margin-bottom: 20px;
}

.banner-area {
    min-height: 400px;
  
  }

  @media ( max-width: 991px){
        .banner-area {
            background: #eaeaea;
    }
  }

      

.banner-img {
    position: relative;
    z-index: inherit ;
}

 .banner-img::after{
        top: 15px;
        border-top: 30px solid #ffffff;
        content: '';
        position: absolute;
        left: 50%;
        transform:translate(-50%, -50%);
        z-index: 3;
        width: 0;
        height: 0;
        border-right: 80px solid transparent;
        border-left: 80px solid transparent;
}

.banner-img::before {
        bottom: -15px;
        border-bottom: 30px solid #ffffff;
         content: '';
        position: absolute;
        left: 50%;
        transform:translate(-50%, -50%);
        z-index: 3;
        width: 0;
        height: 0;
        border-right: 80px solid transparent;
        border-left: 80px solid transparent;
} 


.overlay-bg {
        background: rgba(0, 0, 0, .3);
    } 




  

    @media ( max-width: 991px) {
        .home-banner-area{
            background: white;
            padding: 80px 0px 100px;
        }
    }

         @media ( max-width: 991px){
            .no-js .owl-carousel,.owl-carousel.owl-loaded{
                 display: none;
        }
    } 
    .text-wrapper {
        width: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform:translate(-50%, -50%);
        text-align: center;
        z-index: 2;
        color: #fff;
    }

       @media (max-width: 991px) {
        .text-wrapper{  width: 80%;
            margin: auto;
            color: #777777;
            position: static;
            
        }
        }   
        @media (max-width: 575px) {
           .text-wrapper{
                width: 100%;
            }
        }

        h1 {
            color: black;
            font-size: 60px;
        }
            @media (max-width: 1199px) {
                .h1{  font-size: 40px;
            }
            }
            @media (max-width: 991px) {
               .h1{  color:white ;
            }
            }
            @media ( max-width: 575px) {
               .h1{ font-size: 32px;
            }
        }
        p {
            margin: 25px 0;
        }
              
    
  




