{% extends 'app/index.html' %} {% load static %} {% load bootstrap4 %} 

{% block content%}

<section>
    <div class="container blog marginAviso">
        <div class="row align-items-center mb-5">
            <div class="col-lg-12 text-center">
                <div class="section-title">
                    <h1>Latest From Blog</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-8">
                {% for p in blog %}
                <!-- Single Blog Item -->
                <div class="row align-items-center padding-grey mb-4">
                    <div class="col-lg-6 pl-0">
                        <div class="feature-img relative">
                            <img class="embed-responsive imgDesta" src="{{ p.imagen.url }}" alt="imagen blog">
                        </div>
                    </div>
                    <div class="col-lg-6 ">
                        <div class="card-body p-0 ">
                            <h5 class="card-title mt-2 mb-0" href="#">{{ p.titulo }}</h5>
                            <span><small class="text-muted">{{ p.fecha }}</small></span>
                            <p class="card-text mt-2 mb-1">{{ p.descripcion|truncatechars:213 }}</p>
                            <a class="leerMas" href="{% url 'app:infoblog' p.id %}">Leer más</a>     
                        </div>
                    </div>
                </div>
                {% endfor %}

              <!-- Pagination -->
                <nav class="dento-pagination mb-5 mt-5">
                    <ul class="pagination pagination-lg  justify-content-center mt-4">
                        <li class="page-item active">
                            {% if page_obj.has_previous %}
                            <a class="page-link" href="?page={{page_obj.previous_page_number}}"><i class="fa fa-angle-left fa-lg"></i></a> {% endif %}
                        </li>
                        <li class="page-item">
                            {% if page_obj.has_next %}
                            <a class="page-link" href="?page={{page_obj.next_page_number}}"><i class="fa fa-angle-right fa-lg"></i></a> {% endif %}
                        </li>

                    </ul>
                </nav>
            </div>


            <!-- Dento Sidebar Area -->
            <div class="col-8 col-lg-4 col-12 col-md-8">

                <div class="dento-sidebar ">

                    <!-- Single Widget Area -->
                    <div class="single-widget-area news-widget mt-4">
                        <h5 class="widget-title mb-3">LOS MÁS DESTACADOS</h5>

                        <!-- Single News Area -->
                        {% for p in destacados %}
                        <div class="single-news-area d-flex align-items-center row">
                            <div class="col-8 mb-3">
                                <img class="imgdesta" src="{{ p.imagen.url }}" alt=" ">
                            </div>

                            <div class="col-4">
                                <a class="title" href="{% url 'app:infoblog' p.id %}" class="post-title ">{{ p.titulo }}</a>
                                <br>
                                <span class="post-date ">{{ p.fecha }}</span>
                            </div>
                        </div>
                        {% endfor %}
                    </div>

                </div>


            </div>
           

            
                 
        </div>
    </div>
</section>

{% endblock content%}
