{% extends 'app/index.html' %} {% load static %} {% load bootstrap4 %}
{% block content%}


   


     <div class="row marginAviso conocenos">
        {% for p in conoce %}
        <div class="col-md-6 imgconoce ">
                <img src="{{ p.imagenLogo.url }}" class="mb-3" alt="imagen" />

        </div>
        <div class="col-md-5 mrRespon">

          <p class="font-weight text-justify">{% autoescape off %}
            {{p.texto}}
          </p>{% endautoescape %}

        </div>
        {% endfor %}
      </div>




 


{% endblock content%}
