{% extends 'app/index.html' %} {% load static %} {% load bootstrap4 %}

{% block content%}

<div class="container-fluid mb-5">
    <div class="row justify-content-center">
        <div class="col-12">
            <!-- Blog Details Area -->
            <div class="blog-details-area marginAviso text-center">
                <h2>Política de cookies</h2>
                {% for p in contacto %}

                <p class="descripcion text-justify mt-4">{{ p.cookies }} </p>
                {% endfor %}
            </div>
        </div>
    </div>
</div>


{% endblock content%}