{% extends 'app/index.html' %} {% load static %} {% load bootstrap4 %} 

{% block content%}
<section class="ftco-section mb-4 marginAviso">
    <div class="contenedor">
      
      <nav class="navbar bannerCp justify-content-center mb-5">
        <h4 class="bannerser">Encuentra a tu profesional más cercano</h4>
        <form action="{% url 'app:profesionalCP' %}" method="GET" class="form-inline">
          <input class="form-control mr-sm-2 text-center" type="search" name="search" placeholder="Codigo Postal"
            aria-label="Search" />
          <button class="btn my-2 my-sm-0" style="vertical-align: middle" type="submit" src="#">
            <span>Buscar</span>
          </button>
        </form>
      </nav>

      <div class="site-section">
        <div class="container">
          <div class="row align-items-stretch retro-layout-2">
            {% for p in fotos %}
            <div class="col-md-3">
                
                <div class="h-entry mb-30 v-height gradient embed-responsive imgDesta img-fluida" style="background-image: url('{{ p.imagen.url }}')">
                    <a href="{{ p.imagen.url }}" class="img-pop-up"></a>
                </div>
                
            </div>
            {% endfor %}
          </div>
      </div> 
    </div>
</section>



    
{% endblock content%}