{% extends 'app/index.html' %} {% load static %} {% load bootstrap4 %}

{% block content%}
<!-- 
<div class="container-fluid mb-5">
    <div class="row justify-content-center">
        <div class="col-12">
            
            <div class="blog-details-area marginAviso text-center">
                <h2>AVISO LEGAL</h2>
                {% for p in servi %}

                <p class="descripcion text-justify mt-4">{{ p.nombreServicio }} </p>and
                
                    {% for y in p.peluquero.all %}
                    <span class="dropdown-item-text">{{ y.nombre }}</span> {% endfor %}
                
                {% endfor %}



            </div>
        </div>
    </div>
</div> -->

<section class="service-area section-gap mb-5">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-8 text-center">
                <div class="section-title">
                    <h1>SERVICIOS GENERALES</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
                        magna aliqua ad minim veniam</p>
                </div>
            </div>
        </div>
        <div class="row">
            {% for p in servi %}
            <div class="col-lg-3 col-sm-6 col-md-3 float-right">
                
                <div class="single-service ">
                    <img class="img-fluid" src="{% static 'img/service1.jpg' %}" alt="">
                    <h4>{{ p.nombreServicio }}</h4>
                </div>
                
            </div>
            {% endfor %}
        </div>
    </div>
</section>







{% endblock content%}