{% extends 'app/index.html' %} {% load static %} {% load bootstrap4 %} 

{% block content%}
<div class="container-fluid mb-5 marginAviso">
    <section id="section3 ">
        <div class="container padding">
            <div class="row">
                <div class="col-lg-3 col-md-4">
                    <!--left col-->
                    <div class="text-center">
                        <h3>{{ perfilPro.nombre }}</h3>
                        <div class="avatar mx-auto d-flex justify-content-center pt-3">
                            <div class="imgInfoPro" style="background-image: url('{{ perfilPro.imagen.url }}')"></div>
                        </div>
                        {% for y in perfilPro.valoraciones.all %} 
                        {% if y.valoracion == 1  %}
                          <span class="fa fa-star checked mt-4"></span>
                        {% endif %}
            
                        {% if y.valoracion == 2 %}
                          <span class="fa fa-star checked mt-4"></span>
                          <span class="fa fa-star checked"></span>
            
                        {% endif %}
                        
                        {% if y.valoracion == 3 %}
                          <span class="fa fa-star checked mt-4"></span>
                          <span class="fa fa-star checked"></span>
                          <span class="fa fa-star checked"></span>
                        {% endif %}
                        {% if y.valoracion == 4 %}
                          <span class="fa fa-star checked mt-4"></span>
                          <span class="fa fa-star checked"></span>
                          <span class="fa fa-star checked"></span>
                          <span class="fa fa-star checked"></span>
                        {% endif %}
                        {% if y.valoracion == 5 %}
                          <span class="fa fa-star checked mt-4"></span>
                          <span class="fa fa-star checked"></span>
                          <span class="fa fa-star checked"></span>
                          <span class="fa fa-star checked"></span>
                          <span class="fa fa-star checked"></span>
                        {% endif %}
            
                      {% endfor %}
                        <div class="mt-4">
                            <p>{{ perfilPro.descripcion }}</p>
                        </div>
                    </div><br>
                    <div class="info-card mb-3">
                        <h6 class="card-header black semibold text-center">Contacto</h6>
                        <div class="col-md-12">
                           <b>Teléfono:</b> {{ perfilPro.telefono  }} <a href="{{ perfilPro.whatsapp }}"><i class="fab fa-whatsapp"></i></a>
                                
                        </div>

                        <div class="col-md-12">
                            <p><b>Email:</b> {{ perfilPro.email }}</p>
                        </div>
                        <div class="col-md-12">
                            <p><b>Horario:</b><br>
                            {% autoescape off %} 
                            {{ perfilPro.disponibilidad}}
                            {% endautoescape %}
                        </p>
                            
                        </div>
                    </div>

                </div>
                <!--/col-3-->
                <div class="col-lg-9 col-md-8">
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active linea_a" id="home-tab" data-toggle="tab" href="#home" role="tab"
                                aria-controls="home" aria-selected="true">Perfil</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link linea_a" id="galeria-tab" data-toggle="tab" href="#galeria" role="tab"
                                aria-controls="galeria" aria-selected="false">Galería</a>
                        </li>
                    </ul>
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                            
                            <h4 class="text-center mt-4">Especialidades</h4> 
                            
                            <div class="row mt-4">
                                {% for x in perfilPro.nombreEspecialidades.all %}
                                <div class="col-md-6">
                                    <div class="pricing-entry ftco-animate fadeInUp ftco-animated">
                                        <div class="d-flex text align-items-center">
                                            <h3><span>{{ x.nombreEspecialidad }}</span></h3>
                                            <span class="price">{{ x.precio }}€</span>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="tab-pane fade" id="galeria" role="tabpanel" aria-labelledby="galeria-tab">
                            <div class="container mt-5">
                                <div class="row align-items-stretch retro-layout-2">
                                    <div class="col-md-6">
                                        {% if perfilPro.PerfilGaleria1 %}
                                      <div class="h-entry mb-30 v-height embed-responsive imgDesta"
                                        style="background-image: url('{{ perfilPro.PerfilGaleria1.url }}')"></div>
                                        {% endif %}
                                    </div>
                                    <div class="col-md-6">
                                        {% if perfilPro.PerfilGaleria2 %}
                                        <div class="h-entry mb-30 v-height embed-responsive imgDesta"
                                          style="background-image: url('{{ perfilPro.PerfilGaleria2.url }}')"></div>
                                          {% endif %}
                                      </div>
                                      <div class="col-md-6">
                                        {% if perfilPro.PerfilGaleria3 %}
                                        <div class="h-entry mb-30 v-height embed-responsive imgDesta"
                                          style="background-image: url('{{ perfilPro.PerfilGaleria3.url }}')"></div>
                                          {% endif %}
                                      </div>
                                      <div class="col-md-6">
                                        {% if perfilPro.PerfilGaleria4 %}
                                        <div class="h-entry mb-30 v-height embed-responsive imgDesta"
                                          style="background-image: url('{{ perfilPro.PerfilGaleria4.url }}')"></div>
                                        {% endif %}
                                      </div>
                                </div>


                            </div> 
                        </div>
                        
                    </div>


                </div>


            </div>
        </div>

    </section>

    {% for x in espe %} 
        {{ x.nombreEspecialidad }}
    {% endfor %}
    
</div>


{% endblock content%}