{% extends 'app/index.html' %} {% load static %} {% load bootstrap4 %}

{% block content%}

<div class="container-fluid mb-5 marginAviso">

  {% if post %}
     {% if post|length == 1 %}
        <p>Profesionales Encontrados:{{post|length}} profesional</p>
     {% endif %}
      {% if post|length > 1 %}
        <p>Profesionales Encontrados:{{post|length}} profesionales</p>
     {% endif %}
      
  <div class="d-flex justify-content-center ">
    <div class="row CajaAncho d-flex justify-content-center">

      {% for i in post %}


      <div class="col-md-3 mrRespon cardPro mt-5 container-fluid mb-5 mr-4 ml-4 ">
        <div class="blog-entry align-self-stretch text-center ">
          <div class="avatar mx-auto d-flex justify-content-center pt-3">
            <div class="imgProfesional" style="background-image: url('{{ i.imagen.url }}')"></div>
          </div>
          
          
          {% if i.valoracion == 1  %}
            <span class="fa fa-star checked"></span>
          {% endif %}

          {% if i.valoracion == 2 %}
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>

          {% endif %}
          
          {% if i.valoracion == 3 %}
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
          {% endif %}
          {% if i.valoracion == 4 %}
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
          {% endif %}
          {% if i.valoracion == 5 %}
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
          {% endif %}



          <div class="text py-4 d-block ">
            <div class="meta">
              <div style="vertical-align: inherit;" style="vertical-align: inherit;">{{ i.ServicioPrincipal }}$</div>
            </div>
            <div><span class="icon-chat "></span>
              <p class="descripcion text-justify mt-4 text-center">{{ i.disponibilidad }} </p>
            </div>
            <div><span class="icon-chat "></span>
              <p class="descripcion text-justify mt-4 text-center">{{ i.ServicioPrincipal }} </p>
          </div>

        </div>
      </div>

      {% endfor %}
    </div>
  </div>
  {% else %}

  <h1>No hay profesionales en tu zona</h1>

  {% endif %}
</div>








{% endblock content%}