{% extends 'app/index.html' %} {% load static %} {% load bootstrap4 %}

{% block content%}

<div class="container-fluid mb-5 marginAviso">

   <p>Estas buscando: <strong>{{query}}</strong></p>
    {% if post %}

        <p>Articulos Encontrados:{{post|length}} articulos</p>

        {% for i in post %}
       
                    
        
          

            
            {{ i.nombre }} 
            {{ i.profesional}} 
              {{ i.codigo }} 


    

           
        
        {% endfor %}

    {% else %}

    <h1>No hay profesionales en tu zona</h1>

    {% endif %}
</div>



 




{% endblock content%}