{% extends 'app/index.html' %} {% load static %} {% load bootstrap4 %}

{% block content%}
<div class="container-fluid mb-5 marginAviso ">
  <div class="row justify-content-center mb-3 pb-3">
    <div class="col-md-7 heading-section ftco-animate text-center fadeInUp ftco-animated mrRespon">
      <h2 class="mb-3 mt-4 ">NUESTROS PROFESIONALES</h2>
    </div>
  </div>
  <nav class="navbar bannerCp justify-content-center">
    <p class="bannerP" style="color:black;">Encuentra a tu profesional más cercano</p>
    <form action="{% url 'app:profesionalCP' %}" method="GET" class="form-inline">
      <input class="form-control mr-sm-2 text-center" type="search" name="search" placeholder="Codigo Postal"
        aria-label="Search" />
      <button class="btn my-2 my-sm-0" style="vertical-align: middle" type="submit" src="#">
        <span>Buscar</span>
      </button>
    </form>

  </nav>

  <div class="d-flex justify-content-center ">
    <div class="row CajaAncho d-flex justify-content-center">

    {% for p in peluqueros %}
      <div class="col-md-3 mrRespon cardPro mt-5 container-fluid mb-5 mr-4 ml-4 ">
        <div class="blog-entry align-self-stretch text-center ">
          <div class="avatar mx-auto d-flex justify-content-center pt-3">
            <div class="imgProfesional" style="background-image: url('{{ p.imagen.url }}')"></div> 
          </div>
          <h3 class="heading titu_card mt-5" style="vertical-align: inherit;">{{ p.precioEspecialidades }}</h3>

          <a href="{% url 'app:PerfilProfesional' p.id %} " style="vertical-align: inherit; color: black; text-decoration: none;"><h3 class="heading titu_card mt-5">{{ p.nombre }}</h3></a>          {{ contador }}
<!--  -->

          {% for y in p.valoraciones.all %} 
            {% if y.valoracion == 1  %}
              <span class="fa fa-star checked"></span>
            {% endif %}

            {% if y.valoracion == 2 %}
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>

            {% endif %}
            
            {% if y.valoracion == 3 %}
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
            {% endif %}
            {% if y.valoracion == 4 %}
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
            {% endif %}
            {% if y.valoracion == 5 %}
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
            {% endif %}  
          {% endfor %} 
          <div class="text py-4 d-block ">

            <div><span class="icon-chat "></span>
              <p class="descripcion text-justify mt-4 text-center">{{ p.disponibilidad }} </p>
            </div>
          </div>

        </div>
      </div>

      {% endfor %}



    </div>
  </div>
</div>






{% endblock content%}