{% extends 'app/index.html' %} {% load static %} {% load bootstrap4 %}

{% block content%}

<section class="service-area section-gap">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-md-8 text-center">
        <div class="section-title mt-5">
          <h1>Nuestros Servicios</h1>
        </div>
      </div>
    </div>
    <nav class="navbar bannerCp justify-content-center mb-4">
      <p class="bannerP" style="color:black;">Encuentra a tu profesional más cercano</p>

      <form action="{% url 'app:profesionalCP' %}" method="GET" class="form-inline">
        <input class="form-control mr-sm-2 text-center" type="search" name="search" placeholder="Codigo Postal"
          aria-label="Search" />
        <button class="btn my-2 my-sm-0" style="vertical-align: middle" type="submit" src="#">
          <span>Buscar</span>
        </button>
      </form>
    </nav>

    <div class="row justify-content-center">
      {% for p in servi %}
      <div class="col-lg-3 col-sm-6 col-md-4 float-right mr-2 ml-2 mb-5 mt-4 padding-grey pl-0 pr-0">
        <div class="single-service">
          <div class="bg-img-servi" style="background-image: url('{{ p.imagen.url }}')"><a
              href="{% url 'app:infoServi' p.id %}" style="display:block;height:100%;width:100%">
              <h4>{{ p.nombreServicio }}</h4>
            </a></div>

        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>


<!-- <a class="dorado dropdown-toggle" href="{% url 'app:servicios' %}" id="navbardrop" data-toggle="dropdown">
    SERVICIOS
  </a>            
  <div class="dropdown-menu">
    {% for p in servi %}
    <a class="dropdown-item menuD" href="{% url 'app:infoServi' p.id %} ">{{ p.nombreServicio }}</a>
    {% endfor %}
  </div>

<ul>
    <li><a href="{% url 'app:servicios' %}">servicios</a>
        <ul>
            {% for p in servi %}
	        <li><a href="{% url 'app:infoServi' p.id %}">{{ p.nombreServicio }}</a></li>

            {% endfor %}
        </ul>
    </li>
</ul> -->





{% endblock content%}